/* --------------------------------------------------------
Style Sheet for Evan Tyerman for President

last modified: 03.31.2016 by Miraj Patel
author: Miraj Patel
email: miraj@psmiraj.com
website: http://psmiraj.com
----------------------------------------------------------*/

.container{
	
}

.spacer{
	height: 1000px;
	width: auto;
	background: #2b2b2b;
}