/* --------------------------------------------------------
Style Sheet for Evan Tyerman for President

last modified: 03.31.2016 by Miraj Patel
author: Miraj Patel
email: miraj@psmiraj.com
website: http://psmiraj.com
----------------------------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Montserrat|Open-Sans);

body{
	background-color: #071d49;
}

.navbar-default {
    background-color: transparent;
    border: none;
    margin: 10px 0px;
}
.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus {
    color: #FFFFFF;
}
.navbar-default .navbar-nav>li>a:hover {
    color: #FFFFFF;
    text-decoration: underline;
}
.navbar-default .navbar-toggle {
    border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

.jumbotron{
	background: url('../img/hero.jpg') no-repeat;
	height: 70vh;
	background-size: cover;
	background-position: 50% 25%;
}
.player{
	border: 10px solid #000;
}

@media (max-width: 500px) {
	.jumbotron{
		background: url('../img/hero-mobile.jpg') no-repeat;
		background-size: cover;
		background-position: 50% 25%;
	}
}

@media (max-width: 400px) {
	.navbar-default .navbar-brand {
	    font-size: 12px;
	}
}